<a href="https://colab.research.google.com/github/ranand97/ranand97/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
result1= 7**9
print(result1)
#Using Exponential Arithmetic Operator

40353607

In [5]:
#For finding Quotient we can use floor division
Quotient = 45365//74
#For finding remainder we can use Modulus
Remainder = 45365%74
print('Quotient of 45365/74:',Quotient)
print('Remainder of 45365/74:',Remainder)

Quotient of 45365/74: 613
Remainder of 45365/74: 3

In [16]:
#Defined value of a=780
a=780
#Added a logic to used modulo arithmetic operator to check a is a multiple of 12.

if ((a % 12 == 0) and ((a >= 1000 and a < 1800) or (a > 0 and a <= 800))):
    print("Yes")

Yes

In [8]:
lst = [[5,[100,200,{'target':[1,2,3,'hello']}],23,11],1,71,2,[3,4],'bye']
print(lst)
hello_word = lst[0][1][2]['target'][3]
print(hello_word)

[[5, [100, 200, {'target': [1, 2, 3, 'hello']}], 23, 11], 1, 71, 2, [3, 4], 'bye']
hello

In [10]:
L1 = [64,  34, 112,  91,  62,  40, 117,  80,  96,  34,  48,  -9, -33,
      99,  16, 118, -51,  60, 115,   4, -10,  82,  -7,  77, -33, -40,
      77,  90,  -9,  52, -44,  25, -43,  28, -37,  92,  25, -45,   3,
      103,  22,  39, -52,  74, -54, -76, -10,   5, -54,  95, -59,  -2,
      110,  63, -53, 113, -43,  18,  49, -20,  81, -67,   1,  38, -24,
      57, -11, -69, -66, -67, -68, -16,  64, -34,  52, -37,  -7, -40,
      11,  -3,  76,  91, -57, -48, -10, -16,  14,  13, -65]

# Create a new list L2 with absolute values of even numbers from L1
L2 = [abs(y) for y in L1 if y % 2 == 0]
print(L2)
print(sum(L2))

[64, 34, 112, 62, 40, 80, 96, 34, 48, 16, 118, 60, 4, 10, 82, 40, 90, 52, 44, 28, 92, 22, 52, 74, 54, 76, 10, 54, 2, 110, 18, 20, 38, 24, 66, 68, 16, 64, 34, 52, 40, 76, 48, 10, 16, 14]
2264

In [15]:
L3 = [15, 11,  1,  3, 13,  3, 14, 16, 17, 17,  6, 18, 10, 19,  8,  1, 18,
      17, 14,  1,  5,  2, 13,  0,  1, 13, 16,  8,  5, 11, 12,  8, 17, 14,
      10, 18, 17, 16,  3,  7,  8, 15, 18,  7, 10,  5,  7, 16,  6,  5, 24,
      18, 22, 32]
def mult4_filter(L):
    multi_of_4 = [x for x in L if x % 4 == 0]
    return multi_of_4

final = mult4_filter(L3)
print(final)
print(len(mult4_filter(L3)))

[16, 8, 0, 16, 8, 12, 8, 16, 8, 16, 24, 32]
12